<html lang="en">
<body>
<title>zRPC Services</title>
{{range .}}
    <hr>
    Service {{.Name}}
    <hr>
    <table>
        <th style="text-align: center">Method</th>
        <th style="text-align: center">Calls</th>
        {{range $name, $mType := .Method}}
            <tr>
                <td style="text-align: left">{{$name}}({{$mType.ArgType}}, {{$mType.ReplyType}}) error</td>
                <td style="text-align: center">{{$mType.NumCalls}}</td>
            </tr>
        {{end}}
    </table>
{{end}}
</body>
</html>
